body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #b86fbe, #827c83);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

#display {
    width: 280px;
    height: 60px;
    margin-bottom: 15px;
    font-size: 26px;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background: #f1f1f1;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.15);
}

.botones {
    width: 300px;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    text-align: center;
}

button.num {
    width: 60px;
    height: 55px;
    margin: 6px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    background: #eaeaea;
    transition: 0.2s;
}

button.num:hover {
    transform: scale(1.08);
    background: #d6d6d6;
}

button.num:nth-last-child(3) {
    background: #2575fc;
    color: white;
}

button.num:contains("+"),
button.num:contains("-"),
button.num:contains("*"),
button.num:contains("/") {
    background: #6a11cb;
    color: white;
}

button.num:nth-last-child(2) {
    background: #c00202;
    color: white;
}

button.num:last-child {
    background: #258a9c;
    color: white;
}