/* Fondo general */
.fondo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tarjeta del formulario */
.carta {
  width: 420px;
  padding: 40px 30px;
 background-color: #107C10;
  backdrop-filter: blur(12px);
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s ease;
}

.carta:hover {
  transform: translateY(-5px);
}

/* Título */
.carta h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}

/* Formulario */
.carta form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Inputs */
.carta input {
  margin-left: 20px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 255, 255, 0.85);
  transition: all 0.3s ease;
}

.carta input:focus {
  box-shadow: 0 0 0 3px rgba(106, 27, 154, 0.4);
  transform: scale(1.02);
}

/* Botón */
.carta button {
  padding: 14px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(135deg, #8e24aa, #6a1b9a);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carta button:hover {
  background: linear-gradient(135deg, #6a1b9a, #4a148c);
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
