.carta {
  width: 320px;
  height: 320px;
  background-color: #c08eb581;
  color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
}

.carta form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.carta input {
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
}

.carta button {
  padding: 8px;
  border-radius: 12px;
  border: none;
  background-color: #6a1b9a;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 11px;
  cursor: pointer;
}

.carta button:hover {
  background-color: #4a148c;
}

.fondo {
  width: auto;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}