.cuadro{
    margin-top: 15px;
    padding: 30px;
    background-color: #000000;
    display: flex;
    height: 40%;
    justify-content: space-around;
    border-radius: 10px;
}

.tarjetas{
    margin: 15px;
    color: white;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    
}

.tarjetas img{
    border-radius: 20px;
    width: 100%;
    height: auto;
}