.Tarjetas{
    margin-top: 30px;
    padding: 30px;
    background-color: #003366;
    display: flex;
    height: 40%;
    justify-content: space-around;
}

.info{
    background-color: #D4AF37;
    color: black;
    vertical-align: middle;
}