.cuadro{
    margin-top: 15px;
    padding: 30px;
    background-color: #000000;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    height: 40%;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
}

.tarjetas{
    margin: 15px;
    color: white;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    
}

.tarjetas img{
    border-radius: 20px;
    width: 300px;
    height: auto;
}