.texto{
    margin-top: 15px;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    height: 200px;
    background-image: url(assets/R.jpg);
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

.texto h3{
    margin-left: 30px;
    margin-top: 30px;
}
