.icono{

    height:40px;
    width: auto;

}

.main{
    justify-content: flex-start;
    padding: 50px;
    color: white;
    display: flex;
    text-align: center;

}

.tabla-usuarios{
    align-items: center;
    vertical-align: middle;
    align-content: center;
    margin: 60px;
}